#animal-container {
  height: 70px;
  width: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  /* background-color: blueviolet; */
}
.bap{
    position: absolute;
    transform-origin: center;
    height: 25px;
    width: 50px;
    display: block;    
    overflow: visible;
    z-index: 1;
}


#sprite {
  aspect-ratio: initial;
  position: absolute;
  width: 75%;
}
