#animal-container {
    height: 250px;
    width: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pointer{
    position: absolute;
    transform-origin: center;
    display: none;
    
}

body{
    background-color: lightgray;
}

#sprite{
    aspect-ratio: initial;
    position: absolute;
    width: 75%;
}